.container {
  position: fixed;
  width: 480px;
  max-width: 100%;
  min-width: 375px;
  bottom: 0;
  background-color: black;
  padding: 5px;
  height: 52px;
  max-height: 52px;

  .go {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
  }
}