.container {
  display: block;
  position: fixed;
  width: 480px;
  max-width: 100%;
  min-width: 375px;
  z-index: 1;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0px 4px 15px #e8e8e8;
  background: white;

  .header {
    background-color: white;
    height: 103px;
    padding: 20px;
    color: black;
    text-align: left;
    width: 100%;
    
    .resto {
      float: left;

      .title {
        font-size: 40px;
        font-weight: 900;
      }
  
      .sub {
        margin-top: -10px;
        font-size: 13px;
        font-weight: 100;
        opacity: 0.6;
      }
    }

    .user {
      text-align: right;
      float: right;
      font-size: 15px;
      font-weight: 300;
      padding-top: 8px;
      opacity: 0.8;
    }
  }
}