.container {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: auto;
  min-height: 100vh;
  background: white;

  .content {
    width: 100%;
    padding-top: 20vh;

    h1 {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      padding-top: 2vh;
    }
  }
}