.container {
  text-align: center;
  max-width: 480px;
  margin: auto;
  display: block;
  background-color: white;
  height: 100%;
  z-index: -1;

  .content {
    padding-top: 120px;
    padding-bottom: 80px;
    font-size: 14pt;

    h1 {
      font-size: 14pt;
      font-weight: 900;
    }

    .qrcode {
      margin: 20px;
    }

    .status1, .status2, .status3, {
      margin: 20px;
    }

    .add {
      color:#2ecc71;
      font-weight: 900;
      cursor: pointer;
      transition: .3s;

      &:active {
        opacity: .3 ;
        transition: .1s;
      }
    }
  }

}